<h1>New Bill</h1>
<%= form_for :bills, url: bills_path do |b| %>
  <p>
    <%= b.label :title %><br>
    <%= b.text_field :title %>
  </p>
 
  <p>
    <%= b.label :text %><br>
    <%= b.text_area :text %>
  </p>
 
  <p>
    <%= b.submit %>
  </p>
<% end %>