<p>
  <strong>Id:</strong>
  <%= @bill.id %>
</p>

<h2>Items</h2>
<table>
<% @bill.items.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td><%= item.price %></td>
  </tr>
<% end %>
</table>

<% unless @bill.pagado %>
<h2>Add a item:</h2>
<%= form_for([@bill, @bill.items.build]) do |b| %>
  <p>
    <%= b.label :name %><br />
    <%= b.text_field :name %>
  </p>
  <p>
    <%= b.label :price %><br />
    <%= b.text_field :price %>
  </p>
  <p>
    <%= b.submit %>
  </p>
<% end %>
<% end %>

<%= link_to 'Back', bills_path %>
 